<section class="channel-group">
	<div class="channel-group-header">
		<h2 class="channel-group-title">限时免费</h2>
	</div>
	<ul class="book-table">
		<li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li><li>
			<div class="u-book">
				<div class="book-cover">
					<img src="http://cover.read.duokan.com/mfsv2/download/fdsc3/p01cEuul3Y50/zTADOZEJ5CTB3v.jpg!s" alt="">
					<span class="u-tag freetag"></span>
				</div>
				<div class="book-info">
					<p>小说名</p>
				</div>
				
			</div>
		</li>
	</ul>
	<a href="javasrcipt:" class="u-book-footer">显示更多&gt&gt</a>
</section>