
<section class="top-home">
	<a href="/search">
		<div class="top-home-search">输入书名/作者/关键字</div>
	</a>
	<div class="slider-banner">
		<div>
			<a href="">
				<img class="cover" src="/static/img/banner_girl.jpg" alt="">
			</a>
		</div>
	</div>
	<ul class="top-home-btn">
		<li>
			<a href="/male">
				<img src="/static/img/male.png" alt="" class="top-home-icon">
				<p class="top-home-des">男生</p>
			</a>
		</li>
		<li>
			<a href="/female">
				<img src="/static/img/female.png" alt="" class="top-home-icon">
				<p class="top-home-des">女生</p>
			</a>
		</li>
		<li>
			<a href="/rank">
				<img src="/static/img/rank.png" alt="" class="top-home-icon">
				<p class="top-home-des">排行</p>
			</a>
		</li>
		<li>
			<a href="/category">
				<img src="/static/img/category.png" alt="" class="top-home-icon">
				<p class="top-home-des">分类</p>
			</a>
		</li>
	</ul>
</section>