<style>
#app{
	height: 100%;
}
   .container-wrap{
   	position: absolute;
   	top: 45px;
   	bottom: 0;
   	left: 0;
   	right: 0;
   	overflow: hidden;
   }  

	.top-home{
		background: #fff;
		border-bottom: 10px solid #f5f5f5;
	}
	.top-home-search{
		margin: 10px 13px;
		padding: 1px 0 0 30px;
		font: 11px/33px a;
		color: rgba(0,0,0,0.4);
		border: 1px solid #f5f5f5;
		border-radius: 2px;
		background:url('/static/img/search.png') no-repeat 8px center;
		background-size: 14px;
		overflow: hidden;
		height: 33px;
	}
	.cover{width: 100%;}
	.top-home-btn{
		margin: 14px 0 4px;
		width: 100%;
		display:-webkit-box;
	}
	.top-home-btn li{
		font-size: 12px;
		line-height: 2.4;
		text-align: center;
		-webkit-box-flex: 1;
	}
	.top-home-icon{
		display: block;
		margin: 0 auto;
		height: 22px;
		width: 22px;
	}

	.head-tab{
		padding: 0 90px;
		text-align: center;
		line-height: 44px;
		background: #efeff0;
		border-bottom: 1px solid #ddd;
		position: relative;
	}
	.head-tab a:before{
		content: '\4e66\67b6';
		display: block;
		margin: 0 auto;
		width: 2em;
	}
	.head-tab a:first-child:before{
		content: '\4e66\57ce';
	}
	.head-tab i{
		bottom: -1px;
		text-align: center;
		width: 50%;
	}
	.head-tab i:before{
		content: ' ';
		display: block;
		height: 3px;
		width: 34px;
		margin: 0 auto;
		background: #777;
	}
	.swip-tab i{
		position: absolute;
		left: 0;
		-webkit-transition: -webkit-transform .3s ease-out;
	}
	.head-tab span{
		display: block;
		position: absolute;
		top: 0;
		width: 44px;
		height: 44px;
	}
	.head-user{
		left: 0;
		background: url('/static/img/user.png') no-repeat center;
		background-size: 16px ;
	}
	.head-login{
		right: 0;
		background: url('/static/img/login.png') no-repeat center;
		background-size: 20px;
	}
	.swip-tab{
		position: relative;
		overflow: hidden;
		z-index: 1;
	}
	.swip-tab a{
		float: left;
		text-align: center;
		-webkit-tap-highlight-color: rgba(0,0,0,0);

	}
	.swip-tab-2 a{
		width: 50%;
	}

	.channel-h5{
		background: #fff;
		border-bottom: 10px solid #f5f5f5;
		position: relative;
	}
	.channel-h5-header{
		padding: 15px 13px 14px 13px;
		border-bottom: 1px solid #f0f0f0;
		position: relative;
	}
	.channel-h5-header-title{
		position: relative;
		font: bold 13px/13px a;
		color: rgba(0,0,0,.9);
	}
	.channel-h5-header-title>i{
		position: absolute;
		margin: -1px 0 0 5px;
		font: 9px/px a;
		color: #fff;
		background: #53ac7d;
		border-radius: 1px;
	}
	.tab{
		position: absolute;
		right: 13px;
		top: 9px;
	}
	.tab a{
		position: relative;
		padding: 16px 7px;
		font: 12px/12px a;
		color: #999;
	}
	.tab a:after{
		content: '';
		position: absolute;
		top: 16px;
		bottom: 16px;
		right: -2px;
		width: 1px;
		border-right: 1px solid #ccc;
	}
	.tab a:last-child{padding-right: 0;}
	.tab a:last-child:after{
		display: none;
	}
	.Swipe-tab-on{color:#528ae8 !important;}
	.list-h5 li{
		padding: 17px 10px;
		border-bottom: 1px solid #f0f0f0;
	}
	.list-h5 li:last-child{border-bottom: none ;}
	.book-h5{overflow: hidden;}
	.book-h5-cover{
		float: left;
		position: relative;
		width: 85px;
		height: 113px;
		background: #eeece9;
		border: 1px solid #f0f0f0;
		border-radius: 1px;
		overflow: hidden;		
	}
	.book-h5 img{
		width: 100%;
		height: 100%;
		border-radius: 1px;
	}
	.book-h5-progerss{
		position: absolute;
		bottom: 0;
		width: 100%;
		color: #fff;
		padding:25px 7px 6px;
		font: 10px/10px a;
		background: -webkit-linear-gradient(top,rgba(0,0,0,.1),rgba(0,0,0,.3));
	}
	.book-h5-info{
		margin-left: 100px;
		margin-top: 6px;
	}
	.book-h5-title{
		margin-bottom: 4px;
		font: 16px/17px a;
		color: rgba(0, 0, 0, 0.9);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.book-h5-author{
		margin-top: 8px;
		font: 12px/12px a;
		color: rgba(0, 0, 0, 0.7);
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.book-h5-summary{
		margin-top: 8px;
		height: 2.8em;
		font: 12px/1.4em a;
		color: rgba(0, 0, 0, 0.7);
		overflow: hidden;
		text-overflow: ellipsis;
		display: -webkit-box;
		-webkit-line-clamp: 2;
		-webkit-box-orient: vertical;
	}
	.book-h5-tag{
		margin: 10px;
		padding-top: 3px;
		overflow: hidden;
	}
	.book-h5-tag span{
		display: block;
		float: left;
		margin: -3px 7px 0 0;
		padding: 3px 6px 2px;
		max-width: 6em;
		font: 10px/11px a;
		color: #53ac7d;
		border: 1px solid #53ac7d;
		border-radius: 3px;
		overflow: hidden;
		text-overflow: ellipsis;
		white-space: nowrap;
	}
	.book-h5-no_img-order{
		float: left;
	    margin-top: 1px;
	    font: 13px/13px a;
	    color: rgba(237, 83, 15, 0.9);
	}
	.book-h5-no_img-info{
		margin-left: 27px;
	}
	.book-h5-no_img-info p{float: left;margin-left: 15px;}
	.book-h5-no_img-info-title{
	    font: 15px/15px a;
	    color: rgba(0, 0, 0, 0.9);
	    background: #fff;
	}
	.book-h5-no_img-info-author{
		font: 12px/15px a;
	    color: rgba(0, 0, 0, 0.6);
	    background: #fff;
	}
	

	.channel-h5-footer{
		border-top: 1px solid #f0f0f0;
		overflow: hidden;
	}
	.channel-h5-footer a{
		float: left;
		width: 50%;
		padding: 14px;
		font: 13px/1.3em a;
		color: rgba(0,0,0,0.9);
		text-align: center;
		box-sizing: border-box;
	}
	.channel-h5-footer a:first-child{border-right: 1px solid #f0f0f0;}

	.channel-h5-footer{
		border-top: 1px solid #f0f0f0;
		overflow: hidden;
	}
	.channel-h5-footer a{
		float: left;
		width: 50%;
		padding: 14px;
		font: 13px/1.3em a;
		color: rgba(0,0,0,0.9);
		text-align: center;
		box-sizing: border-box;
	}
	.channel-h5-footer>a:first-child{border-right: 1px solid #f0f0f0;}

	.channel-group-header{
		position: relative;
		padding: 10px 14px;
		border-bottom: 1px solid #f0f0f0;
		border-left: 6px solid #ffab18;
	}
	.channel-group-title{
		font-size: 16px;
		font-weight: normal;
		color: #333;
	}
	.book-table{
		    padding: 13px 14px 5px;
		    font-size: 0;
	}
	.book-table li{
		width: 33.3%;
	    display: inline-block;
	    vertical-align: top;
	    line-height: 1;
	    margin-bottom: 8px;
	}

	.book-table li:nth-child(3n+1){
		text-align: left;
	}
	.book-table li:nth-child(3n+2){
		text-align: center;
	}
	.book-table li:nth-child(3n+3){
		text-align: right;
	}
	.book-cover{
		width: 86px;
		height: 113px;
		background: #eeece9;
		display: inline-block;
		box-shadow: 0px 6px 5px -3px #aaa;
		border: 1px solid #f0f0f0;
		overflow: hidden;
		
	}
	.u-book{
		position: relative;
		width: 86px;
		overflow: hidden;
		display: inline-block;
	}
	.book-cover img{
		width: 100%;
		height: 100%;
		display: inline-block;
	}
	.book-info{
		 margin-left: 0;
   		 padding-top: 8px;
   		 display: block;
	}
	.book-info p{
		display: block;
		text-align: left;
		font-size: 13px;
	    line-height: 1.4em;
	    max-height: 2.8em;
	    overflow: hidden;
	    color: #8d8d8d;
	    margin-bottom: 0px;
	    font-weight: 400;
	}
	.u-tag{
		position: absolute;
		top: 0;
		right: 0;
		height: 1.4;
		background-color: #ef6c2c;
		width: 100%;
		font-size: 1.4rem;
		text-align: center;
		-webkit-transform-origin: top center;
		-webkit-transform:translateX(50%)   rotate(45deg) translateY(50%) scale(0.8) ;

	}
	.freetag{
		background-color: #49ab3f;
	}
	.freetag:before{
		content: '\9650\514d';
	}
	.u-book-footer{
		display: block;
		font: 14px/14px a;
		color: rgba(0, 0, 0, 0.9);
		padding: 10px 0;
		text-align: center;
	}

.special-item li{
	float: left;
    width: 50%;
    margin-bottom: 16px;
    padding: 0 10px;
    box-sizing: border-box;
}

</style>
